.myButton {
    padding: 5px 15px;
    border: 2px solid darkmagenta;
    border-radius: 4px;
    font-size: 14px;
    color: darkmagenta;
    background-color: #fff;
    cursor: pointer;
    transition: all linear 0.15s;
}

.myButton:disabled {
    cursor: default;
}

.myButton:hover {
    background-color: #007f80;
    color: white;
}